<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Find out the safe and unsafe parts of the Terms &amp; Conditions for multiple services">

  <title>Can I Agree?</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/favicons/manifest.json">
  <meta name="apple-mobile-web-app-title" content="Can I Agree?">
  <meta name="application-name" content="Can I Agree?">
  <meta name="theme-color" content="#ffffff">
  <!-- Styles -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/assets/css/caniagree.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="/assets/fonts/font-awesome/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- Social -->
  <meta property="og:title" content="Can I Agree" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />

  <style>
    html,
    body {
      height: 100%;
    }

    #caniagree {
      height: 100%;
    }

  </style>

</head>

<body>
  <div id="caniagree" class="bd-highlight d-flex">
  </div>
  <script type="text/javascript">
    document.onreadystatechange = () => {
      if (document.readyState == "complete") {
        ReactApp.CanIAgree.start(
          document.getElementById('caniagree'), {
            id: '1'
          }
        )
      }
    }

  </script>
</body>

</html>
